<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Quiz Results</title>
  <link rel="stylesheet" href="/stylesheets/result.css" />
</head>
<body>
  <header>
    <h1> Results</h1>
  </header>
  <main>
    <h2>Your Score: <%= score %> / <%= total %></h2>
    <a href="/quiz">Restart Quiz</a>
    <a href="/index">Go to Home</a>
  </main>
</body>
</html>
