/* Reset some default styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    color: #333;
    line-height: 1.6;
  }
  
  nav {
    background-color: #333;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100px;
   
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 20px 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
  }
  
  nav ul li a:hover {
    background-color: #444;
    color: #ffeb3b;
  }
  
  .content {
    max-width: 900px;
    margin:400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .start-button {
    background-color: #4caf50;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 30px;
  }
  
  .start-button:hover {
    background-color: #45a049;
  }
  
  footer {
    text-align: center;
    margin-top: 50px;
  }
  
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav ul li {
      margin-left: 0;
      margin-bottom: 10px;
    }
  
    .content {
      margin-top: 140px;
      padding: 20px;
      width: 80%;
    }
  
    h1 {
      font-size: 28px;
    }
  
    .start-button {
      font-size: 16px;
      padding: 10px 20px;
    }
  }
  